[submodule "skynet"]
	path = skynet
	url = https://github.com/cloudwu/skynet
[submodule "3rd/pbc"]
	path = 3rd/pbc
	url = http://github.com/cloudwu/pbc
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "luacheck"]
	path = luacheck
	url = https://github.com/mpeterv/luacheck.git
[submodule "/usr/local/skynet_chess/3rd/luacheck"]
	path = /usr/local/skynet_chess/3rd/luacheck
	url = https://github.com/mpeterv/luacheck.git
[submodule "3rd/lua-checker"]
	path = 3rd/lua-checker
	url = https://github.com/rjpower/lua-checker.git
[submodule "lsocket"]
	path = lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "3rd/lsocket"]
	path = 3rd/lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "3rd/lpack"]
	path = 3rd/lpack
	url = https://github.com/LuaDist/lpack.git
